<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= item.title %>
  </title>
  <style>
    label,
    input {
      display: block;
    }
  </style>
</head>

<body>
  <h1>
    <%= item.title %>
  </h1>
  <img src="/img/covers/<%= item.title %>.jpg" alt="<%= item.title %>.jpg" />
  <p>Tác giả: <%= item.author %>
  </p>
  <p>Nội dung: <%= item.synopsis %>
  </p>
  <h2>Mượn sách</h2>
  <p>Hiện thư viện có <%= status.length %> quyển sách này.</p>
  <table>
    <tr>
      <th>Mã quyển sách</th>
      <th>Trạng thái</th>
    </tr>
    <% status.forEach(item=> { %>
      <tr>
        <td>
          <%= item.copy_id %>
        </td>
        <td>
          <% if (item.username) { %>
            Đang được mượn.
            <% } else { %>
              Sẵn sàng cho mượn.
              <% } %>
        </td>
      </tr>
      <% }) %>
  </table>

  <h2>Đánh giá sách</h2>
  <form method="post" action="/books/book-review" id="book-review">
    <label for="name">Họ và tên:</label>
    <input type="text" id="name" name="name" maxlength="255" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" maxlength="255" required>

    <label for="comment">Nội dung:</label>
    <textarea id="comment" name="comment" rows="5" maxlength="16777215" required></textarea>

    <label for="rating">Đánh giá:</label>
    <input type="number" name="rating" id="rating" min="0" max="5" required><span>/5 ★</span>

    <!-- <input type="hidden" name="book_id" value="<%= item.book_id %>"> -->
    <button type="submit" id="submit">Gửi</button>
  </form>

  <script>
    const bad_words = ["cặc", "buồi", "chim", "lồn", "bướm", "hột le", "háng", "trym", "địt", "nắc", "chịch", "xoạc", "phang", "quất", "nuốt tinh", "đút lỗ", "chơi lỗ hậu", "thông đít", "chọc lồn", "hấp diêm", "đụ má / địt mẹ", "đụ bà", "đéo", "đếch", "mẹ kiếp", "vãi lồn", "vl", "sml", "vãi cặc", "xạo lồn", "óc chó", "óc c", "bố đời", "mất dạy", "hãm l", "láo chó", "chó má", "con cặc", "vãi l", "xàm l", "đm", "vcl", "l*n", "cặk"]

    document.getElementById("book-review").addEventListener("submit", (event) => {
      event.preventDefault();
      let contents = new FormData(event.target);
      contents = Object.fromEntries(contents);

      bad_words.forEach(word => {
        if (contents.comment.toLowerCase().includes(word)) {
            window.alert("Đánh giá của bạn chứa nội dung không hợp thuần phong mỹ tục!");
            return event.target.reset();
        }
      })
      
      contents = JSON.stringify(contents);
      fetch("/books/book-review", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: contents
      })
        .then((res) => {
          if (res.ok) {
            alert("Đánh giá của bạn đã được ghi lại. Cảm ơn bạn.");
            event.target.reset();
          }
        })
        .catch(err => {
          console.log(err);
        })
    })
  </script>
</body>

</html>